body{
	margin: 0;
	padding: 0;
	background-image: url(bg.png);
	background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    /*如果没有设置内边距，看起来很丑*/
    padding-left: 15px;
    padding-right: 15px;
}

.img_style{
	position: absolute;
}

/*按钮样式*/
.btn_style{
	font-family: 微软雅黑;
	text-align: left;
	background-color: transparent;
	border-color: transparent;
	margin-top: 5px;
}
.btn_style:hover{
	border: 1px solid #706f6f;
	background-color: #a5eefb;
}
